AppWorks.UI/Service References/AppService/AppWorksServices44.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49471/AppWorksServices.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:49471/AppWorksServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" />
  <xs:element name="GetTableColumnNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tableName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTableColumnNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetTableColumnNamesResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCalenderAndPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="year" type="xs:int" />
        <xs:element minOccurs="0" name="period" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCalenderAndPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDuplicateCalenderAndPeriodResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleLegsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="recordId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleLegsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetVehicleLegsInfoResult" nillable="true" type="q2:ArrayOfVehicleLegCountProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreditCostCenterNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceCreditCostCenterNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetInvoiceCreditCostCenterNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillingLineItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingLineprop" nillable="true" type="q3:BillingLineItemsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillingLineItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBillingLineItemsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerAddredss">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerAddredssResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerAddredssResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddredssType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerAddredssTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCustomerAddredssTypeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDetailsForInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeDesc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCodeDetailsForInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetCodeDetailsForInvoiceResult" nillable="true" type="q4:ArrayOfCodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDataForInvoicePrint">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReprintInd" type="xs:int" />
        <xs:element minOccurs="0" name="ReprintType" type="xs:int" />
        <xs:element minOccurs="0" name="DateType" type="xs:int" />
        <xs:element minOccurs="0" name="InvoiceDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="InvoiceDateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="InvoiceNumberFrom" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="InvoiceNumberTo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceDataForInvoicePrintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetInvoiceDataForInvoicePrintResult" nillable="true" type="q5:ArrayOfPortStoragePrintInvoiceProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleListingReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportType" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="GroupByDealerInd" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleListingReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetVehicleListingReportResult" nillable="true" type="q6:ArrayOfVehicleListingReportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCustomerList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCustomerListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadCustomerListResult" nillable="true" type="q7:ArrayOfPortStorageRequestsReportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBatchList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadBatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadBatchListResult" nillable="true" type="q8:ArrayOfPortStorageRequestsReportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageRequestReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportType" type="xs:int" />
        <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RequestDateFrom" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="RequestDateTo" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageRequestReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageRequestReportResult" nillable="true" type="q9:ArrayOfPortStorageRequestsReportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleSummeryReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReportType" type="xs:int" />
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleSummeryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageVehicleSummeryReportResult" nillable="true" type="q10:ArrayOfVehicleListingReportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLaneSummaryList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLaneSummaryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageLaneSummaryListResult" nillable="true" type="q11:ArrayOfPortStorageInventoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInBoundList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInBoundListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageInBoundListResult" nillable="true" type="q12:ArrayOfPortStorageInventoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDAIAddressName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDAIAddressNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetDAIAddressNameResult" nillable="true" type="q13:ArrayOfUserApplicationConstantsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInvoiceList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billinID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadInvoiceListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadInvoiceListResult" nillable="true" type="q14:ArrayOfInvoiceListProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchLocationImport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchLocationImportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetBatchLocationImportResult" nillable="true" type="q15:ArrayOfPortStorageInventoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryComparisionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="batchID" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInventoryComparisionListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetInventoryComparisionListResult" nillable="true" type="q16:ArrayOfPortStorageInventoryList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestPrintIndexForVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="vehicleIds" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestPrintIndexForVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestPrintIndexForVehiclesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objUserList" nillable="true" type="q18:WebPortalUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetUsersResult" nillable="true" type="q19:ArrayOfWebPortalUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModulesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetModulesResult" nillable="true" type="q20:ArrayOfModuleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetCustomersResult" nillable="true" type="q21:ArrayOfUserCustomerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objUser" nillable="true" type="q22:WebPortalUserList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objUserCustomer" nillable="true" type="q23:UserCustomerList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserCustomerResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserModule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objModuleUser" nillable="true" type="q24:ModuleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserModuleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserModuleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetRolesResult" nillable="true" type="q25:ArrayOfRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetGroupsResult" nillable="true" type="q26:ArrayOfGroupList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objUser" nillable="true" type="q27:WebPortalUserList" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstUserCustomer" nillable="true" type="q28:ArrayOfUserCustomerList" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstUserModules" nillable="true" type="q29:ArrayOfModuleList" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstUserRoles" nillable="true" type="q30:ArrayOfRoleList" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstUserGroups" nillable="true" type="q31:ArrayOfGroupList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="emailID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDuplicateEmailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicatePortalUserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicatePortalUserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDuplicatePortalUserNameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInventoryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageProp" nillable="true" type="q32:PortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInventoryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageInventoryDetailsResult" nillable="true" type="q33:ArrayOfPortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestCheckedVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstRequestedVechicles" nillable="true" type="q34:ArrayOfPortStorageVehicleProp" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateRequestCheckedVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateRequestCheckedVehiclesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMultipleVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMultipleVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMultipleVINResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodedPortStorageVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodedPortStorageVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetDecodedPortStorageVINResult" nillable="true" type="q35:PortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDecodeVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVINDecode" nillable="true" type="q36:VINDecodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDecodeVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertDecodeVINResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodedVINForVINDecode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodedVINForVINDecodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetDecodedVINForVINDecodeResult" nillable="true" type="q37:VINDecodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodeDataFromWeb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="bodyStylep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDecodeDataFromWebResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetDecodeDataFromWebResult" nillable="true" type="q38:VINDecodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesSelection">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolesSelectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetRolesSelectionResult" nillable="true" type="q39:ArrayOfRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingRecordExport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportType" type="xs:int" />
        <xs:element minOccurs="0" name="ExportDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingRecordExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetBillingRecordExportResult" nillable="true" type="q40:ArrayOfBillingLineItemsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingExportBatchId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingExportBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBillingExportBatchIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBillingExportNextBatchId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetBillingExportNextBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetBillingExportNextBatchIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingExportFilePath">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingExportFilePathResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBillingExportFilePathResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingLineItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
        <xs:element minOccurs="0" name="BillingLineItemsID" type="xs:int" />
        <xs:element minOccurs="0" name="UserCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingLineItemResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorToDb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="errorProp" nillable="true" type="q41:ErrorLogProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogErrorToDbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageVehicleOutgate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objStorageVehicleOutgateProp" nillable="true" type="q42:StorageVehicleOutgateProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageVehicleOutgateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="UpdateStorageVehicleOutgateResult" nillable="true" type="q43:ArrayOfStorageVehicleOutgateProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesBatchId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageVehiclesBatchIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStorageVehiclesNextBatchId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStorageVehiclesNextBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPortStorageVehiclesNextBatchIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPortStorageVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPortStorageVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="ImportPortStorageVehiclesResult" nillable="true" type="q44:PortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleImportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleImportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageVehicleImportListResult" nillable="true" type="q45:ArrayOfPortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadVehiclesBatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadVehiclesBatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadVehiclesBatchListResult" nillable="true" type="q46:ArrayOfPortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileDirectory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageVehiclesImportFileDirectoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageVehiclesImportFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileArchiveDirectory">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehiclesImportFileArchiveDirectoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageVehiclesImportFileArchiveDirectoryResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationBatchId">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageLocationBatchIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStorageLocationNextBatchId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPortStorageLocationNextBatchIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetPortStorageLocationNextBatchIdResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPortStorageLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportPortStorageLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="ImportPortStorageLocationResult" nillable="true" type="q47:PortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationImportList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationImportListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageLocationImportListResult" nillable="true" type="q48:ArrayOfPortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLocationBatchList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadLocationBatchListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadLocationBatchListResult" nillable="true" type="q49:ArrayOfPortStorageVehicleImportProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationImportFileName">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageLocationImportFileNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPortStorageLocationImportFileNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationImportTransactionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LocationImportTransactionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LocationImportTransactionProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleImportTransactionProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BatchId" type="xs:int" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicleImportTransactionProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleImportTransactionProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSettings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetSystemSettingsResult" nillable="true" type="q50:ArrayOfAdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCompanyinfo" nillable="true" type="q51:UserApplicationConstantsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCompanyInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCompanyInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageVehicleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortstorageProp" nillable="true" type="q52:PortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageVehicleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetStorageVehicleDetailsResult" nillable="true" type="q53:ArrayOfPortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineItemsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLineItems" nillable="true" type="q54:BillingLineItemsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineItemsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetLineItemsListResult" nillable="true" type="q55:ArrayOfBillingLineItemsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetExportedInd">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetExportedIndResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ResetExportedIndResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBilling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingProp" nillable="true" type="q56:BillingListProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBillingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingTab">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingProp" nillable="true" type="q57:BillingListProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingTabResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBillingTabResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBillingDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageProp" nillable="true" type="q58:BillingProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillingSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="BillingSearchResult" nillable="true" type="q59:ArrayOfBillingProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetBillingDataResult" nillable="true" type="q60:BillingListProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageVehicleOutgateData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objStorageVehicleOutgateProp" nillable="true" type="q61:StorageVehicleOutgateProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStorageVehicleOutgateDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="UpdateStorageVehicleOutgateDataResult" nillable="true" type="q62:StorageVehicleOutgateProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="setting" nillable="true" type="q63:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSystemSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="setting" nillable="true" type="q64:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="FindSystemSettingsResult" nillable="true" type="q65:ArrayOfAdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="setting" nillable="true" type="q66:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteSystemSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="setting" nillable="true" type="q67:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertSystemSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertSystemSettingsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLoginProp" nillable="true" type="q68:LoginProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggedInUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetLoggedInUserDetailsResult" nillable="true" type="q69:LoginProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLoginProp" nillable="true" type="q70:LoginProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="ValidateLoginResult" nillable="true" type="q71:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLoginProp" nillable="true" type="q72:LoginProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserRoleResult" nillable="true" type="q73:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLoginProp" nillable="true" type="q74:LoginProperties" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q75:AdminUserProp" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstRoles" nillable="true" type="q76:ArrayOfRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q77:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistingUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ExistingUserRoleResult" nillable="true" type="q78:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q79:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AllRolesResult" nillable="true" type="q80:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifiedUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q81:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifiedUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ModifiedUserRoleResult" nillable="true" type="q82:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q83:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RemoveUserRoleResult" nillable="true" type="q84:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecordListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RecordListResult" nillable="true" type="q85:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RoleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="RoleListResult" nillable="true" type="q86:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objFindUserProp" nillable="true" type="q87:FindUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetUserRecordResult" nillable="true" type="q88:ArrayOfFindUserDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModificationRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q89:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModificationRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetModificationRecordResult" nillable="true" type="q90:AdminUserDeatils" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q91:AdminUserProp" />
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="lstRoles" nillable="true" type="q92:ArrayOfRoleList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objAdminUserProp" nillable="true" type="q93:AdminUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserDetailsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objFindUserProp" nillable="true" type="q94:FindUserProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveUserDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RemoveUserDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q95:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetVehicleSearchDetailsResult" nillable="true" type="q96:ArrayOfVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVehicleDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q97:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertVehicleDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertVehicleDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerDiemVehicalDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portStorageVehiclesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerDiemVehicalDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPerDiemVehicalDetailsResult" nillable="true" type="q98:ArrayOfPerDiemProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDamageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageDamageDetailsProp" nillable="true" type="q99:PortStorageDamageDetailsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditDamageCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditDamageCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCustomerProp" nillable="true" type="q100:CustomerSearchProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetCustomerSearchDetailsResult" nillable="true" type="q101:ArrayOfCustomerSearchProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclePerDiemSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portStorageVehiclesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehiclePerDiemSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetVehiclePerDiemSearchDetailsResult" nillable="true" type="q102:ArrayOfPerDiemProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageProcessignDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q103:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageProcessignDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePortStorageProcessignDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CustomerTypeResult" nillable="true" type="q104:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Vin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecodeVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DecodeVINResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageProcessignDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageProcessignDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageProcessignDetailsResult" nillable="true" type="q105:ArrayOfVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageDateOutProcessignDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q106:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageDateOutProcessignDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePortStorageDateOutProcessignDetailsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageDateOutProcessignDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageDateOutProcessignDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageDateOutProcessignDetailsResult" nillable="true" type="q107:ArrayOfVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portStorageVehicalID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetLocationHistoryResult" nillable="true" type="q108:ArrayOfPortStorageLocationHistoryProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVecheleDetailByVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="vehicleId" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVecheleDetailByVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetVecheleDetailByVINResult" nillable="true" type="q109:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestBatchProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q110:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestBatchProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RequestBatchProcessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateOutBatchProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q111:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateOutBatchProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DateOutBatchProcessResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMultipleVecheleDetailByVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VIN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMultipleVecheleDetailByVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="CheckMultipleVecheleDetailByVINResult" nillable="true" type="q112:ArrayOfVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InspectionTypeOnly">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InspectionTypeOnlyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="InspectionTypeOnlyResult" nillable="true" type="q113:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicalStatusList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VehicalStatusListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="VehicalStatusListResult" nillable="true" type="q114:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallVehialDetailsbyVIN">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q115:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CallVehialDetailsbyVINResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="CallVehialDetailsbyVINResult" nillable="true" type="q116:ArrayOfVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicalSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objVehicleProp" nillable="true" type="q117:VehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicalSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicalSearchDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindVehicleDamageDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portStorageVehiclesId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindVehicleDamageDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="BindVehicleDamageDetailResult" nillable="true" type="q118:ArrayOfPortStorageDamageDetailsProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDamageCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objDamageCodeProp" nillable="true" type="q119:DamageCodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDamageCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDamageCodeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicalSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VehicleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteVehicalSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteVehicalSearchDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillingPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingPeriodprop" nillable="true" type="q120:BillingPeriodprop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBillingPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddBillingPeriodResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBillingPeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingPeriodprop" nillable="true" type="q121:BillingPeriodprop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindBillingPeriodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="FindBillingPeriodResult" nillable="true" type="q122:ArrayOfBillingPeriodprop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodeAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCodeProp" nillable="true" type="q123:CodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCodeAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCodeAdminResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeTypeList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CodeTypeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CodeTypeListResult" nillable="true" type="q124:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingPeriodAdminDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingPeriodprop" nillable="true" type="q125:BillingPeriodprop" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingPeriodAdminDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBillingPeriodAdminDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillingPeriodAdminDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BillingPeriodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBillingPeriodAdminDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteBillingPeriodAdminDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCodeProp" nillable="true" type="q126:CodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="FindCodeResult" nillable="true" type="q127:ArrayOfCodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCodeAdminRecord">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCodeProp" nillable="true" type="q128:CodeProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifyCodeAdminRecordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifyCodeAdminRecordResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCodeAdminDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CodeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCodeAdminDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteCodeAdminDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInvoicesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cutoffDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageInvoicesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageInvoicesListResult" nillable="true" type="q129:ArrayOfPortStorageInvoicesProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCodeList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadCodeListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadCodeListResult" nillable="true" type="q130:ArrayOfCodeList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocationProp" nillable="true" type="q131:LocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetLocationListResult" nillable="true" type="q132:ArrayOfLocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingStreetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingStreetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetBillingStreetAddressResult" nillable="true" type="q133:ArrayOfLocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotesList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotesListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="NotesListResult" nillable="true" type="q134:ArrayOfCustomerNoteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageRateList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageRateProp" nillable="true" type="q135:PortStorageRateList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageRateListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageRateListResult" nillable="true" type="q136:ArrayOfPortStorageRateList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPortStorageRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageRateProp" nillable="true" type="q137:PortStorageRateList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPortStorageRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPortStorageRateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageRateProp" nillable="true" type="q138:PortStorageRateList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePortStorageRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePortStorageRateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortStorageRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="portStorageRateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePortStorageRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletePortStorageRateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPerformanceStndrdOriginLocationList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPerformanceStndrdOriginLocationListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="LoadPerformanceStndrdOriginLocationListResult" nillable="true" type="q139:ArrayOfLocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationEmailContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocationEmailContact" nillable="true" type="q140:LocationEmailContactList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationEmailContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationEmailContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationPerformanceStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocationPerformanceStandard" nillable="true" type="q141:LocationPerformanceStandardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationPerformanceStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationPerformanceStandardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationEmailContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocationEmailContact" nillable="true" type="q142:LocationEmailContactList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationEmailContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocationEmailContactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationPerformanceStandard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocationPerformanceStandard" nillable="true" type="q143:LocationPerformanceStandardList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationPerformanceStandardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocationPerformanceStandardResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocation" nillable="true" type="q144:LocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddLocationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCustomerNotes" nillable="true" type="q145:CustomerNoteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCustomerNotesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerNotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCustomerNotes" nillable="true" type="q146:CustomerNoteList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerNotesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerNotesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerSearchDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objcustomer" nillable="true" type="q147:CustomerSearchProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerSearchDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateCustomerSearchDetailsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objCustomer" nillable="true" type="q148:CustomerSearchProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCustomerResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBilling">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingprop" nillable="true" type="q149:BillingProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBillingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateBillingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostStorageVehicles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objPortStorageVehicleProp" nillable="true" type="q150:PortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePostStorageVehiclesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdatePostStorageVehiclesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillingId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objBillingprop" nillable="true" type="q151:BillingProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertBillingIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertBillingIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultvalue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valueKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultvalueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetDefaultvalueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettingsValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSettingsValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateSettingsValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNextInvoiceNumberValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iInvoiceNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateNextInvoiceNumberValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateNextInvoiceNumberValueResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBillingCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBillingCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cutoffDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPortStorageVehicleListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetPortStorageVehicleListResult" nillable="true" type="q152:ArrayOfPortStorageVehicleProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="objLocation" nillable="true" type="q153:LocationList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateLocationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatePortStoragePerDiem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="psVehicleId" type="xs:int" />
        <xs:element minOccurs="0" name="userCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculatePortStoragePerDiemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculatePortStoragePerDiemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PsRatesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PsRatesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PsRatesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PsRatesInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PsRatesInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="PsRatesInvoiceResult" nillable="true" type="q154:PSRatesInvoiceProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entryRate" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="perDiemGraceDays" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="vehicleID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateVehicleRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateVehicleRatesResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCodeAndType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codeType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckDuplicateCodeAndTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckDuplicateCodeAndTypeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetCustomerInfoResult" nillable="true" type="q155:CustomerSearchProp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="billingId" type="xs:int" />
        <xs:element minOccurs="0" name="pvRatePercentage" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoadInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/AppWorksService.Properties" minOccurs="0" name="GetLoadInfoResult" nillable="true" type="q156:ArrayOfLoadInfoList" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>